* {
    margin: 0;
    border: border-box;
    padding: 0;
    font-family: system-ui;
}

body{
    background-color: black;
}


/* nav bar */

.navbar {
    display: flex;
    height: 70px;
    background-color: #1c1c1c;
    align-items: center;
    position: sticky;
    top: 0;
    /* font-family: system-ui; */
    color: #d5dad7;

}

.navbar li {
    display: inline;
    margin: 25px;
    list-style: none;
    color: white;

}

.navbar li a {
    text-decoration: none;
    /* color: rgb(1, 1, 1); */
    font-size: 1.06rem;
    /* font-weight: 600; */
    /* border: 2px solid transparent; */
    color: white;
}

.mid {
    text-decoration: none;
    /* color: rgb(1, 1, 1); */
    font-size: 1.06rem;
    font-weight: 900;
    /* border: 2px solid transparent; */
    color: white;
    margin-left: 25px;
}

.navbar li a:hover {

    font-size: larger;
    /* color: white; */
    color: #d5dad7;
}




/* .another{
    margin-left: 25px;
    margin-top: 10px;
    width: 65%;
} */

.nav-list1 {
    margin-left: 25px;
    margin-top: 10px;
    width: 65%;
    display: flex;
}

.another.li {
    margin-bottom: 10px;
}







.rightnav {
    margin: 0;
    display: flex;
    float: right;
}


.searchbox {
    margin: 0;
    display: flex;
}

.text-box {
    /* width: 70px; */
    /* border-radius: 65px; */
    margin-right: 0;
    padding-left: 20px;
    margin: auto;
    margin-left: 15px;
    /* margin-right: 15px; */
    border-radius: 65px 0px 0px 65px;
    width: 250px;

}


.hw {

    font-family: system-ui;
    border: none;
    /* border-radius: 65px; */
    height: 30px;
    /* border: solid transparent; */
    /* background-color: bisque; */
    margin-left: 80px;
}

.hw:hover {

    background: #a3b0b3;
    color: white;
}

.text-box:hover {
    color: white;
}

.hw:focus {
    /* color: rgb(0, 0, 0); */
    background: #a3b0b3;
    color: white;
}

.search-button {
    width: 35px;
    /* margin: auto;
    margin-left: 15px;
    margin-right: 15px; */
    margin: 0;
    border-radius: 0px 65px 65px 0px;
}

.nav-bar-pfp {
    height: 50px;
    width: 50px;
    background-image: url('/static/assets/images/kritika/pfp.png.png');
    /* height: 70px;
    width: 70px; */
    border-radius: 50%;
    background-size: cover;
    margin-left: 15px;
    margin-right: 45px;
}

/* .sign-in-button{
    width: 65px;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 65px;
}
.mid{
    width: 70%;
    margin: auto;
    font-weight: 959;
} */

/* blog posts section */
/* .blog-post{ */
/* height: 700px; */
/* margin: 30px; */
/* background-color: #60707f; */
/* background-color: #1F2D3B;
    margin-top: 90px;
    margin-left: 45px;
    margin-right: 45px;
    border-radius: 50px;
} */


/* blog */

.user-id {
    display: flex;
    align-items: end;


}


.layout {

    margin-left: 35px;
    padding-top: 35px;
    color: azure;
}

.box {

    margin: auto;

    background-color: #0a0a0a;
    margin-top: 10px;

    margin-right: 20px;
    border-radius: 20px;
    width: auto;
    margin-left: 20px;
    border: 1px solid grey;
}

.pfp-of-user {
    background-image: url('/static/assets/images/kritika/pfp.png.png');
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-size: cover;
    margin-left: 35px;
}

.user-name {
    font-size: 30px;
    color: white;
    margin-left: 10px;
}

.img-in-blog {
    background-image: url(/static/assets/images/baner-right-image-04.jpg);
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 45px;
    height: 350px;

    justify-content: flex-start;
    background-position-x: center;
}

.description {
    padding-bottom: 35px;
    padding-right: 35px;

    font-size: 20px;
    margin-left: 25px;
}

.btn-and-viewcount {
    display: flex;
    align-items: baseline;
}

.view-blog-btn {
    width: 400px;
    height: 30px;
    color: azure;
    background-color: #33373a;
    cursor: pointer;

    align-items: center;
    justify-content: center;

    margin-left: 25px;
    margin-bottom: 35px;
    border-radius: 10px;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 30px;
}

.view-count {
    margin-left: 15px;
}

.interactions {
    display: flex;
    font-size: 35px;

    padding-bottom: 35px;
    margin-right: 25px;
}

i.fa-solid.fa-user-plus {
    margin-left: 25px;
    align-items: center;

    font-size: 25px;
}

.icon {
    margin-left: 25px;
}


/* 
navbar 2 */

/* .navbar-2{
    display: none;
    height: 50px;
    width: auto;
    background: #28313a ;
    color: aliceblue;
} */

.navbar-2 {
    display: none;
    height: 70px;
    width: auto;
    /* background: #28313a; */
    background-color: #1c1c1c;
    color: aliceblue;
    align-items: center;
}

.nav-bar-pfp-nav2 {
    height: 30px;
    width: 30px;
    background-image: url('/static/assets/images/kritika/pfp.png.png');
    /* height: 70px;
    width: 70px; */
    border-radius: 50%;
    background-size: cover;
    /* margin-left: 15px; */
    margin-right: 25px;
}

.noti-nav2 {
    text-decoration: none;
    /* color: rgb(1, 1, 1); */
    font-size: 1.06rem;
    /* font-weight: 600; */
    /* border: 2px solid transparent; */
    color: white;
    margin-right: 20px;

}

button.search-btn-nav2 {
    background: none;
    border: none;
    color: aliceblue;
    margin-left: 20px;
    font-size: 15px;
}


.website-name {
    /* width: 0%; */
    margin: auto;
    /* vertical-align: middle; */
    /* object-position: center; */
    /* margin-right: 90px; */
    text-align: center;
}

.burger {
    position: absolute;
    display: none;
    /* margin-top: 65px; */
    position: relative;

}

.line {
    height: 2px;
    width: 15px;
    margin: 2px;
    margin-left: 25px;
    background-color: white;
}

.off-screen-menu {
    background-color: black;
    height: 100vh;
    width: 100%;
    max-width: 60px;
    position: fixed;
    /* top: 0; */
    left: -400px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 1.06rem;
    transition: .3s ease;
    color: aliceblue;
}

.off-screen-menu.active {
    left: 0;
}

.burger-contents {
    text-decoration: none;
    color: white;
}

li {
    margin-top: 10px;
}

ul {
    list-style: none;
    margin-top: 70px;
    margin-left: 25px;
}



/* footer section */

#footer {
    margin-top: 70px;
    /* height: 300px; */
    background-color: #1c1c1c;
    /* display: flex; */
    color: white;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
}


div#\ content-layout {
    margin: 39px;
}


.footer1-3 {
    float: left;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    /* justify-content: space-evenly; */
    padding-left: 35px;
    align-items: center;
}

#footer-part2 {
    margin-left: 50px;
}

.head-footer-part12 {
    font-size: 18px;
}

.content-footer-part12 {
    margin-top: 20px;
}

.footer-para {
    margin-left: 50px;
    /* margin-right: 75px; */
    display: grid;

}

.footer-para-head {
    font-size: 20px;

    justify-self: center;

}

.footer-para-subhead {
    margin-top: 20px;
    text-align: center;
}

#footer-part3 {
    /* background-color: #F6836B; */
    padding-top: 80px;
    padding-bottom: 80px;
    /* align-items: center;
    justify-self: right; */
    float: right;
    padding-right: 35px;
}


.head-footer-part3 {
    font-size: larger;
}

.subhead-footer-part3 {
    font-size: 15px;
    margin-top: 20px;
}

.email-add-section {
    margin-top: 15px;
    display: flex;
    margin-bottom: 15px;
}


.emailadd-footer-part3 {
    border: none;
    font-size: 14px;
    background: whitesmoke;
    height: 35px;
    border-radius: 60px 0px 0px 60px;
    padding-left: 10px;
    width: fit-content;
}

.emailadd-footer-part3:hover {
    background: #a3b0b3;

}

.emailadd-footer-part3:focus {
    border: none;
}

.submit-btn {
    border: none;
    background: whitesmoke;
    font-size: 15px;
    height: 35px;
    border-radius: 0px 60px 60px 0px;

    width: 70px;
    margin-left: 0;
}

.submit-btn:hover {
    background: #a3b0b3;

}

.social-icons {
    margin-top: 15px;
    display: flex;

}

.icon {
    margin-right: 10px;
    font-size: 25px;
}

div#\ content-layout {
    margin: 39px;
}