<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blogs</title>
    <link rel="stylesheet" href="/static/assets/css/kritika css/index.css" type="text/css">
    <link rel="stylesheet" href="/static/assets/css/kritika css/responsive.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!--nav bar-->
    <nav class="navbar">




        <a href="index.html" class="mid ">EpicPost</a>
        <ul class="nav-list1 ">
            <!-- 
            <li><a href="index.html" class="mid ">EpicPost</a></li> -->
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html">Notification</a></li>
            <li><a href="blogs.html">Blogs</a></li>

        </ul>

        <!-- <div class="rightnav right"> -->
        <!-- <button class="sign-in-button hw">Sign In</button> -->
        <div class="searchbox">
            <input type="text" class="text-box hw" placeholder="Search Blogs">
            <button class="search-button hw"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      <a href="userprofile.html">  <div class="nav-bar-pfp " name="pfp-of-user"></div> </a>
        <!-- </div> -->
    </nav>

    <div class="off-screen-menu">
        <!-- <ul class="nav-list2"> -->
        <ul>
            <li><a href="index.html" class="burger-contents "><i class="fa-solid fa-house"></i></a></li>
            <li><a href="index.html" class="burger-contents "><i class="fa-solid fa-bell"></i></a></li>
            <li><a href="blogs.html" class="burger-contents "><i class="fa-solid fa-blog"></i></a></li>

        </ul>
    </div>
    <nav class="navbar-2">

        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>

        </div>


        <button class="search-btn-nav2"><i class="fa-solid fa-magnifying-glass"></i></button>

        <div class="website-name"><a href="index.html" class="mid">EpicPost</a></div>
        <a href="index.html" class="noti-nav2"><i class="fa-regular fa-bell"></i></a>
        <div class="nav-bar-pfp-nav2" name="pfp-of-user"></div>
    </nav>



    <!-- blog post -->

    <!-- <div class="blog-post">
        <div class="user-id layout">
            <div class="pfp-of-user" name="pfp-of-user"></div>
            <div class="user-name" name="user-name">_sanchit_sk_</div>
            <i class="fa-solid fa-user-plus"></i>

        </div>
        <div class="layout">
            <div class="img-in-blog" name="img-in-blog"></div>
            <div class="description" name="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Blanditiis
                harum nostrum voluptatem qui eligendi repellendus, saepe ab laboriosam dolorem quis, modi voluptatum
                nulla
                aut libero vel! Accusantium neque ea illo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti velit natus quidem iure doloribus, asperiores ut accusamus! Natus esse qui, id accusamus maiores error ipsam sint magni veniam ducimus aperiam.
                Ullam ad unde pariatur eos quo nemo! Corporis quae dignissimos in dolorem excepturi? Voluptatum tenetur vitae adipisci corrupti quia autem et illo? Fugiat eum alias sapiente, impedit in sequi adipisci.
                Doloribus consequatur deleniti est eligendi saepe culpa animi voluptatibus esse molestiae? Magnam, nesciunt quisquam atque quibusdam laudantium qui eos ipsa nemo officia commodi libero officiis perspiciatis quasi tenetur ut. Expedita.
                Accusantium nihil nostrum architecto at, repudiandae maiores delectus, ab doloremque officiis minus quam consequatur porro aspernatur incidunt. Reprehenderit est eum sit at officia incidunt, possimus modi alias nemo ab amet.
                Nihil, delectus quasi cutmque dolorum eum ullam soluta maiores aut quia rem cupiditate, blanditiis dolor ea, laboriosam tempora? Id officiis sit maiores magnam consectetur perferendis expedita optio? Tempora, ipsum dignissimos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam amet consequatur, error similique placeat tempore quibusdam vero eius sapiente sequi accusamus illo eum ipsum praesentium, quia dolores dignissimos esse nisi!
                Libero distinctio consequuntur, accusantium autem consequatur veniam non error? Minus facere nostrum, voluptatum odit corporis voluptate illum quos atque laboriosam fugiat assumenda quasi eos nesciunt nihil eius reprehenderit totam consequatur.
                Iste asperiores ea deleniti earum iure adipisci soluta ut blanditiis officiis omnis reprehenderit nesciunt quos perferendis inventore ipsam est a repellat exercitationem, totam mollitia voluptatibus eveniet? Unde voluptatibus commodi aliquid?
                Culpa aliquam temporibus consequuntur voluptatum numquam dolore quam, suscipit possimus fuga quibusdam facilis velit expedita voluptates officia ad minima et nobis, nesciunt dolorum a, quas doloremque cupiditate magnam. Cumque, placeat?
                Ea temporibus sit illum corrupti, nihil quasi reprehenderit tempore voluptatibus architecto, tempora suscipit, earum aliquid. Quisquam, sapiente. Eaque sunt quae eveniet, nobis nesciunt voluptates voluptatem error similique facere cumque eos!
                Sint, itaque in minima consequatur ipsa voluptatum modi suscipit molestias dolorum laboriosam alias eum provident magnam at assumenda ex illum ad expedita pariatur. Sed eos obcaecati vero consequuntur dolore repellat.
                Et omnis placeat architecto sapiente soluta, modi consequuntur nesciunt corrupti itaque eum consequatur odit voluptatum, enim id ipsa deserunt vitae. Officia delectus explicabo doloribus iste dolore cupiditate quas asperiores sequi!
                Harum est itaque aliquid pariatur sunt aspernatur nostrum error magnam eveniet temporibus porro optio repudiandae mollitia eaque, fugiat consectetur culpa quo dolores placeat, beatae doloribus commodi possimus voluptatem deleniti! Illum!
                Repellendus accusamus alias consectetur nam explicabo fugiat ea commodi. Molestias natus similique nam in provident maxime temporibus quaerat aspernatur maiores, dolorem enim eligendi magni earum voluptatem quam alias saepe quae.
                Eligendi voluptate, sed voluptas quisquam nemo placeat eos quam labore corrupti dolores. Earum doloribus sunt, sint placeat ducimus odit reprehenderit veniam porro quaerat, necessitatibus consectetur voluptates blanditiis ullam nihil soluta.</div>
        </div>

        <div class="interactions layout">
            <i class="fa-regular fa-heart icon"></i> 
            <i class="fa-solid fa-share-nodes  icon"></i>
            <i class="fa-regular fa-comment  icon"></i>
        </div>
    </div> -->

    <div class="blog-post">
        <div class="user-id layout">
            <div class="pfp-of-user" name="pfp-of-user"></div>
            <div class="user-name" name="user-name">_sanchit_sk_</div>
            <!-- <i class="fa-solid fa-user-plus"></i> -->

        </div>
        <div class="box layout">
            <!-- <div class="img-in-blog" name="img-in-blog"></div> -->
            <div class="description" name="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Blanditiis
            </div>
            <div class="btn-and-viewcount">
                <a class="view-blog-count" href="viewblog.html"><button class="view-blog-btn">View Blog</button> </a>
                <p class="view-count">0</p>
                <p style="margin-left:10px ;">views</p>
            </div>
        </div>
    </div>
    <!-- 
    href="viewblog.html"  -->

    <!-- footer section -->

    <footer id="footer">

        <div id=" content-layout">
            <div class="head-footer-part12">Resources</div>
            <div class="content-footer-part12">
                <p> <a>support</a></p>
                <p> <a> securites </a></p>
                <p> <a> help center </a></p>
                <p> <a> privacy policy </a></p>
                <p> <a> term's & conditions </a></p>
            </div>
        </div>

        <div id=" content-layout">
            <div class="head-footer-part12">Company</div>
            <div class="content-footer-part12">
                <p> <a> Our story</a></p>
                <p> <a> Blogs </a></p>
                <p> <a> about us</a></p>
                <p> <a> Contact us</a></p>
                <p> <a> Community </a></p>
            </div>
        </div>

        <div class="footer-para">
            <p class="footer-para-head"> EpicPost</p>
            <p class="footer-para-subhead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum
                accusantium consequuntur explicabo illumiy.</p>
        </div>
        <div id=" content-layout">
            <p class="head-footer-part3">Let's stay connect</p>
            <p class="subhead-footer-part3">Enter your Email for weekly newsletters</p>
            <div class="email-add-section">
                <input class="emailadd-footer-part3" placeholder="Enter your email">
                <button class="submit-btn">Submit</button>
            </div>
            <p class="head-footer-part3">Follow us</p>
            <div class="social-icons">
                <div class="icon"> <i class="fa-brands fa-square-instagram"></i></div>
                <div class="icon"> <i class="fa-brands fa-facebook"></i> </div>
                <div class="icon"> <i class="fa-brands fa-github"></i></div>
                <div class="icon"> <i class="fa-brands fa-x-twitter"></i></div>
            </div>

        </div>


    </footer>
    <!-- <div id="footer-part3">
            <p class="head-footer-part3">Let's stay connect</p>
            <p class="subhead-footer-part3">Enter your Email for weekly newsletters</p>
            <div class="email-add-section">
                <input class="emailadd-footer-part3" placeholder="Enter your email">
                <button class="submit-btn">Submit</button>
            </div>
            <p class="head-footer-part3">Follow us</p>
            <div class="social-icons">
                <div class="icon"> <i class="fa-brands fa-square-instagram"></i></div>
                <div class="icon"> <i class="fa-brands fa-facebook"></i> </div>
                <div class="icon"> <i class="fa-brands fa-github"></i></div>
                <div class="icon"> <i class="fa-brands fa-x-twitter"></i></div>
            </div>
        </div> -->
    <!-- </footer> -->



    <script src="/static/assets/js/kritika js/index.js"></script>
</body>

</html>